/* VARIABILI */
:root{
  --primary-clr: #16212B;
  --secondary-clr: #ECF8FF;
  --third-clr: #0E84C4;
  --fourth-clr: #E5312D;

  --primary-clr-hover: rgba(22, 33, 43, 0.5);
  --third-clr-hover: rgba(14, 132, 196, 0.8);

  --base-font: 'Roboto', sans-serif;
  --script-font: 'Science Gothic', sans-serif;
}

/* ---------- RESET/BASE ---------- */
*{box-sizing:border-box;}
html,body{height:100%;}
body{
  margin:0;
  background:var(--secondary-clr);
  color:var(--primary-clr);
  overflow-x:hidden;
  line-height:1;
  font-family:var(--base-font);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--primary-clr);
}
::-webkit-scrollbar-thumb {
  background: var(--third-clr); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--third-clr-hover); 
}

::selection{
  background:var(--third-clr);
  color:var(--secondary-clr);
}

img {
  user-select: none;
}

.title-span{
  color:var(--fourth-clr); font-family:inherit; font-size:inherit;
}

.numbers{
  color:var(--third-clr); font-family:var(--script-font); font-size:16px;
}

h1{
  margin-top:40px;
  margin-bottom:10px;
  font-family:var(--script-font);
  font-size:clamp(5rem,8vw,7.5rem);
  user-select: none;
  text-indent: -7px;
  text-align: left;
}
h2{
  font-family:var(--script-font);
  font-size:clamp(1.7rem,2.5vw,4.7rem);
  user-select: none;
}
h3{
  font-family:var(--script-font);
  font-size:clamp(1.5rem,2vw,4.5rem);
  user-select: none;
}

p{
  max-width:420px;
  /* font-size:16px; */
  font-size:clamp(1rem,1.3vw,2rem);
  line-height:1.5;
  color:var(--primary-clr);
  text-align:left;
}

h6{
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  font-weight:600;
  color:var(--third-clr);
  font-family:var(--script-font);
  text-align:left;
  line-height: clamp(1.5rem, 2.5vw, 5rem);
  user-select: none;
}

section {
  min-height: 100dvh;
  width: 100vw;
  background-image: url(../img/texture/texture-bg.webp);
  background-size: 150%;
  /*TODO decidere se tenere o meno questa grandezza */
}

img {
  user-select: none;
}

.container-flex {
  --direction: column;
  --gap: 8px;
  --wrap: wrap;
  display: flex;
  flex-direction: var(--direction);
  gap: var(--gap);
  flex-wrap: var(--wrap);
}
.flex-center {
  align-items: center;
}

/* NAVBAR */
.navbar{
  position:fixed;
  top:30px;
  left:50%;
  transform:translateX(-50%);
  width:fit-content;
  padding:6px;
  background:var(--primary-clr);
  border-radius:50px;
  display:flex;
  align-items:center;
  gap:16px;
  z-index:999;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 25%);
}

/* LOGO */
.logo{
  width:38px;
  height:38px;
  background:var(--secondary-clr);
  border-radius:50%;
  position: relative;
  padding:2px;
}
.logo img{
  width:100%;
  height:100%;
  object-fit:contain;
}

/* MENU */
.menu{
  display:flex;
  gap:12px;
  align-items:center;
}

/* LINK BUTTON */
.menu a{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  height:38px;
  padding:5px 16px;
  border-radius:20px;
  background:transparent;
  color:var(--secondary-clr);
  font-size:14px;
  text-decoration:none;
  position:relative;
  overflow:hidden;
  z-index:0;
  transition:background .3s ease,color .3s ease;
}

.menu a:hover{ 
  background:rgba(236,248,255,0.15);
}

/* CTA differenziata */
.menu .cta{
  background:var(--secondary-clr);
  color:var(--primary-clr);
  font-size:16px;
}
.menu .cta:hover{
  background:var(--third-clr);
  color:var(--secondary-clr);
}

/* ---------- RIPPLE EFFECT ---------- */
/* pseudo-element semplice per effetto "ripple" al passaggio */
.menu a::before{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:0;
  height:0;
  background:rgba(166,166,166,0.8);
  border-radius:50%;
  transform:translate(-50%,-50%);
  pointer-events:none;
  z-index:1;
  opacity:0;
  transition:opacity .3s ease-in-out;
}
.menu a:hover::before{
  width:200px;
  height:200px;
  animation:ripple78 3s ease-out;
}
.menu .cta::before{
  background:rgba(14,132,196,0.35);
}

/* animazione ripple */
@keyframes ripple78{
  0%{width:0;height:0;opacity:1;}
  100%{width:200px;height:200px;opacity:0;}
}

/* ---------- HERO (layout principale) ---------- */
.hero{
  position:relative;
}
.hero.grid{
  display:grid;
  grid-template-columns:1fr 1.2fr;
  overflow:hidden;
}
.hero.reversed {
  display:grid;
  grid-template-columns:1.2fr 1fr;
}
.between{
  overflow: visible !important;
}
.works{
  position: relative;
  padding-top: 300px;
  z-index: 2;
  padding-inline:120px;
}

/* lato sinistro contenuti */
.hero-left{
  padding-left:120px;
  padding-top:100px;
  z-index:2;
}
.hero.reversed .hero-left{
  padding-left:0;
  padding-right:120px;
}

/* lato destro immagini */
.hero-right{
  position:relative;
  width:100%;
  height:100%;
}

/* NUVOLA */
.bg-shape{
  position:absolute;
  right:0;
  bottom:0;
  width:95%;
  max-width:none;
  height:auto;
  z-index:1;
}
.hero.reversed .bg-shape{
  left:0;
  right:auto;
  transform: scaleX(-1);
  bottom: -100px;
}

.bg-shape-2{
  width:100%;
  max-width:none;
}

.shape-container {
  position: absolute;
  left: 0;
  bottom: -250px;
  width: 100%;
  height: fit-content;
  z-index: 4;
  overflow: hidden;
}

/* IMMAGINE PLUMBER */
.plumber, .plumber-2, .plumber-3 {
  position:absolute;
  z-index:2;
  height:auto;
}
.plumber{
  bottom:0;
  min-width: 500px;
  width:clamp(460px,60vw,600px);
}
.plumber-2{
  width:clamp(350px,30vw,400px);
  left: 150px;
  bottom: -30%
}
.plumber-3{
  right: 180px;
  bottom: -50px;
  min-width: 250px;
  width:clamp(370px,60vw,370px);
}
/* .plumber-3{
  width:clamp(350px,30vw,400px);
  left: 150px;
  bottom: -30%;
  height: auto;
  overflow: hidden;
} */

/* ------------- STATS -------------*/
.animation-numbers-container {
  overflow: hidden;
  height: 50px;
  user-select: none;
}
.number-container {
  position: relative;
  top: 0;
  height: 50px;
  text-wrap: nowrap;
}

.number, .symbol {
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-family: var(--script-font);
  color: var(--third-clr);
}
.number {
  font-size: 2.6rem;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0;
}
.symbol {
  font-size: 2rem;
  position: relative;
  top: 10px;
  height: fit-content;
}
.symbol.plus {
  top: 7px;
}

.caption {
  font-size: 0.95rem;
  font-family: var(--script-font);
  font-weight: 500;
  color: var(--primary-clr-hover);
}

/* ------------- IMAGE ------------ */
.container-grid-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

}
.works-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width:1024px){
  .bg-shape {
    width: 70%;
  }
  .bg-shape-2 {
    width: 150% !important;
  }
  section.hero {
    min-height: auto;
    height: 80dvh !important;
  }
  .plumber{
    right: -50px;
  }
  .plumber-2{
    left: 40px;
  }
  .plumber-3{
    right: 80px;
  }
}
@media (max-width:768px){
  section {
    min-height: 100dvh !important;
    height: auto !important;
  }
  .hero.reversed {
    min-height: 130dvh !important;
  }
  .hero.grid, .hero.reversed{ 
    grid-template-columns:1fr; 
    gap: 16px;
  }

  .hero.reversed .hero-right { order:1; }
  .hero.reversed .hero-left { order:0; }

  .hero.reversed .hero-left, .hero.between .hero-left{
      padding: 40px 30px 40px;
  }
  section.works {
    padding: 150px 30px 40px;
  }
  .hero-left {
    padding: 60px 30px 40px;
  }

  .hero-right{ min-height:400px; }

  .plumber {
    right:50%;
    bottom: -10%;
    transform:translateX(50%);
  }
  .plumber-2 {
    left:50%;
    transform:translateX(-50%);
    bottom:-70%;
  }
  .plumber-3 {
    max-width: 340px;
    right:50%;
    bottom: -30%;
    transform:translateX(50%);
  }
  .bg-shape-2{
    width: 200%;
  }
  .hero.reversed .bg-shape, .bg-shape{
    bottom: 80px;
  }
  .shape-container {
    bottom: -130px;
  }

  .between{
    margin-bottom: 10px;
  }

  .number { font-size: 2.0rem;}
  .hero-number-container {
    margin-bottom: 100px;
  }
}
@media (max-width:480px){
  h1 {
    text-align: center !important;
  }
}